<!DOCTYPE html>
<html>

    <head>
	<meta charset="utf-8">
	<title>{{ config.site-title }}</title>
	<meta name="author" content="{{ config.author }}">
	<meta name="description" content="{{ config.home-description }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style> 
body {background-color: white;}
h1   {color: mediumblue;}
p    {color: navy;}
	</style>
    </head>
    <body>
	{{ content }}
	{{ snippet.youtube height="100" width="200 url="https://www.youtube.com/watch?v=5-jKLfZuwvQ" }}
	<p>{{ config.nav-title }}</p>
        {{ snippet.navigation }}
        {{ snippet.footer }}
    </body>
</html>
