<!-- Requires: -->
<!-- header-img-path -->
<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>{{ config.site-title }}</title> 
    <meta name="author" content="{{ config.author }}">
    <meta name="description" content="{{ config.home-description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ config.site-url }}/css/style.css" rel="stylesheet">
    <script src="{{ config.site-url }}/js/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="{{ config.site-url }}/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
  </head>

  <body>
    {{ snippet.navigation }}

    {{ snippet.header }}
    
    <div id="content">
      {{ content }}
  	</div>

  </body>

</html>
